body, html {
	font-family: 'Raleway', serif;
	font-weight: 300;
	text-align: center;
	font-size: calc(0.95rem + 1 * ((100vw - 20rem) / 60));
}

span {
	padding: 1rem;
}

h4 {
	font-size: 1.5rem;
}

hr {
	width: 1em;
}

.content {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
  	overflow-x: hidden;
  	width: 100vw;
  	height: 100vh;
}

.grid {
	display: grid;
	grid-template-rows: 1fr;
	min-height: 100%;
}

.grid div {
	white-space: nowrap;
}

.grid div:after { 
  content: ''; 
  display: inline-block; 
  height: 100%; 
  vertical-align: middle;
  width: 0;
}

.grid div span { 
  display: inline-block; 
  vertical-align: middle; 
  white-space: normal;
}

.grid.one{
	grid-template-columns: 1fr;
}

.grid.three {
	border-bottom: 25vh solid black;
}

.scroll {
	scroll-snap-align: start;
}

a {
	text-decoration: none;
	font-style: italic;
	color: #000000;
}

a:hover {
	background: #000000;
	color: #FFFFFF;
}

.dark {
	background-color: #000000;
    color: #FFFFFF;
}

.logo a {
	background: none;
}

.logo img {
   	max-width: 12.5rem;
   	padding-bottom: 1.5rem;
   	padding-right: 1rem;
}

.right-intro p {
    margin-bottom: 5rem;
    margin-block-end: 2.5rem;
}

.footer {
	position: relative;
    color: #AAAAAA;
    height: 0.5em;
    font-size: 0.5rem;
}

.button.button-highlighted {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    font-size: 0.65rem;
    color: #555;
    text-align: center;
    height: 2rem;
    width: 8rem;
	margin-bottom: 1.5rem;
    line-height: 2rem;
	font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    border-color: #000000;
    color: #000000;
    cursor: pointer;
    box-sizing: border-box;
}

.email-address {
	word-wrap: break-word;
	max-width: 85vw;
	font-size: 0.85rem;
	margin-left: 1.25rem;
}

.hero {
	font-size: calc(0.95rem + 0.75 * ((100vh - 20rem) / 60));
}

.grid.three div span h4, .contact h4 {
	text-transform: uppercase;
}

@media (max-width: 599px) {
	body, html {
		font-size: calc(0.95rem + 1 * ((100vh - 20rem) / 60));
	}

}

@media (max-height: 399px) {
	body, html {
		font-size: calc(1rem + 0.5 * ((100vw - 20rem) / 60));
	}
	.grid.three div span p {
		font-size: calc(0.9rem + 0.5 * ((100vh - 20rem) / 60))
	}
	span {
		padding: 2rem;
	}
	.mbtn { display: none; }
}

@media (min-width: 790px) { 
	.grid.two{
		grid-template-columns: 1fr 1fr;
		border-bottom: 25vh solid black;
	}

	.grid.three {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.grid.three div span {
		min-height: 66%;
	}
	.footer {
	    padding-left: 25vw;
    	bottom: 1rem;
    	width: 50vw;
	}
	.logo a:hover {
		cursor: default;
	}
	.right-intro span {
		margin: 0 1em 0 1rem;
	}
	.contact {
		width: 100%;
	    display:inline-block;
		vertical-align: middle;
	}


	.mbtn { display: none; }

	.btn, .nbtn {
		position: relative;
		height: 1px;
		width: 1px;
	}

	.btn a:hover, .nbtn a:hover {
		background: none;
	}

	.btn a img, .nbtn a img { 
		position: absolute;
		height: 5vw;
		width: 5vw;
		opacity: 0.25;
		left: 94vw;
		}

	.btn a img:hover, .nbtn a img:hover {
		opacity: 1;
	}

	.up a img { 
		content: url("/images/up.png");
		top: 1vh;	;
		}
	.down a img {
		content: url("/images/down.png");
		top: 90vh;
		}

}

@media (max-width: 789px) {

	.m-scroll {
		scroll-snap-align: start;
	}
	.grid.two{
		grid-template-columns: 1fr;
	}

	.grid.three{
		grid-template-columns: 1fr;
	}
	.grid.three div span {
	    padding-bottom: 8rem;
	    padding-top: 8rem;
	}
	.grid div {
		height: 100vh;
	}

	.logo img {
		position: relative;
		top: -5vh ;
		margin-left: 5vw;
	}

	.logo-dark {
		display: none;
	}
	.footer {
	    bottom: -1rem;
	    width: 100%;
	}

	.contact {
		border-bottom: 2em solid black;
		border-left: none;
		border-right: none;
		scroll-snap-align: center;
	}

	.nbtn { display: none; }

	.mbtn {
		position: relative;
		height: 1px;
		width: 1px;
	}

	.mbtn a:hover {
		background: none;
	}

	.mbtn a img { 
		position: absolute;
		left: 42.5vw;
		height: 15vw;
		width: 15vw;
		opacity: 0.25;
		}

	.mbtn a img:hover {
		opacity: 1;
	}

	.down a img {
		content: url("/images/down.png");
		top: -30vw;
		margin-top: 1rem;
		}

	.first a img {
		top: -125vh;
		}

	.contact img {
		    padding-top: 15vh;
		}

	.contact span {
			display: inline !important;

		}

	}

} 